install:
  - set PATH=C:\Ruby21\bin;%PATH%
  - bundle install
  - gem install ocra

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v

test_script:
  - bundle exec ruby main.rb
  - ocra --verbose --gemfile %APPVEYOR_BUILD_FOLDER%\Gemfile main.rb
  - main.exe

